.gcloudignore
.git/
.gitignore
.env
.env.*
.cache/
.firebase/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.terraform/
.venv/
**/values.tfvars
client/node_modules/
client/dist/
__pycache__/
*.pyc
*.tfplan
*.tfstate
*.tfstate.*
