.DS_Store
.env
.env.*
!.env.example
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.cache/
__pycache__/
*.py[cod]
*.egg-info/
.coverage
coverage.xml
htmlcov/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
**/values.tfvars
crash.log
